/*margin: top right bottom left*/

/* TODO we should round the border edges of the chat box*/
html {
    font-family: 'Barrio', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}

#title h1 {
    font-size: 13vw;
    margin: 1% 10% 0 10%;
    padding-bottom: 0;
}

#title h4 {
    margin: 0;
}

#chat-box {
    background-color: aquamarine;
    margin: 4% 10% 0 10%;
    padding: 3%;
    width: 76%;
    height: 50%; 
    border-radius: 25px;
        
}

.footer {
    padding-top: 5%;
}
#contact {
    margin: 10% 5% 0 5%;
}
   /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  margin: 0;
  padding-top: 20px;
  border: 0;
  outline: 0;
}

body {
  background-color: #ffff;
  font-family: Arial;
}

.chat {
  width: 300px;
  height: 500px;
  background-image: url("http://pbs.twimg.com/profile_background_images/168441853/x85008fb3abdf2c37ef227d5a099271f.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  border: 0px solid #000;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   margin: auto;
  box-sizing: border-box;
}
.chat .messages {
  position: absolute;
  left: 0;
  bottom: 60px;
  height: auto;
  width: 100%;
}
.chat .messages .message {
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
}
.chat .messages .message .you, .chat .messages .message .bot {
  border-radius: 30px;
  padding: 10px;
  width: 75%;
  position: relative;
}
.chat .messages .message .you img, .chat .messages .message .bot img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.chat .messages .message .you:before, .chat .messages .message .bot:before {
  padding: 5px;
  font-family: Helvetica Neue; 
  border-radius: 5px;
  position: absolute;
  top: -15px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}
.chat .messages .message .you {
  background: #1D62F0;
  font-family: Helvetica Neue; 
  color:white;
  text-decoration-color: aliceblue;
  float: right;
}
.chat .messages .message .you:before {
  font-family: Helvetica Neue;
  background-color: #1D62F0;
  right: 10px;
}
.chat .messages .message .bot {
  background-color: #DBDDDE;
  float: left;
}
.chat .messages .message .bot:before {
  content: "Chad:";
  background-color: #DBDDDE;
  left: 10px;
}
.chat .messages .message:after {
  content: "";
  color:black;
  clear: both;
  display: table;
}
.chat .input {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #ecf0f1;
}
.chat .input .text {
  background-color: #fff;
  color:black;
  border-radius: 20px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 270px;
  box-shadow: inset 0 0 5px #aaa;
  line-height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}   
#Links {
    padding-top: 20px;
}
